#choropleth_map {
    border-style: solid;
}

#idiom2 {
    border-style: solid;
}

body {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
}

.page {
    width: 1200px;
    background-color: whitesmoke;
    margin: auto;
    padding: 50px;
    padding-bottom: 20px;
}

.vis-container {
    width: 100%;
}

.vis-container2 {
    width: 600px;
}

.pure-g {
    margin-bottom: 0px;
}